.*/    # Ignore all hidden folders
.*     # Ignore all hidden files
!.gitignore

/data
/weights
/work_dirs
__pycache__/

!
*.pyc
export
test.log
.pyc

.env
.idea/
.vscode/
sandbox-browse-dataset/

# ignore log and result folder
work_dirs/
weights/
runs/

# remove debug_var due to file size limit
debug_var/




