.*/    # Ignore all hidden folders
.*     # Ignore all hidden files
!.gitignore

/data
/weights
/work_dirs
__pycache__/
/tools/__pycache__
/tools/data_converter/__pycache__

*.pyc
export
test.log
.pyc
.env
.idea/
.vscode/
sandbox-browse-dataset/


# exclude conda env
mv2denv/
debug_var/
test_result/