.*/    # Ignore all hidden folders
.*     # Ignore all hidden files
!.gitignore

/weights
/work_dirs
work_dirs*
__pycache__/
/tools/__pycache__
/tools/data_converter/__pycache__

*.pyc
export
test.log
.pyc
.env
.idea/
.vscode/
sandbox-browse-dataset/


# exclude conda env
mv2denv/
debug_var/
eval_result/

# Ignore everything inside the data folder
/data/

# # Allow specific files in the data/lidc folder
# !/data/lidc/lidc_infos_train.pkl
# !/data/lidc/lidc_infos_train_2d_anno.coco.json
# !/data/lidc/lidc_infos_val.pkl
# !/data/lidc/lidc_infos_val_2d_anno.coco.json